@font-face {
    font-family: 'BlackChancery';
    src: url('../assets/Blackchancery.TTF');
    format: 'truetype';
}

.about-container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin: 0 0 4em 0;
}

.about-container img{
  width: 30vw;
  height: 90vh;
  object-fit: cover;
  border-radius: 0 4em 4em 0;
}

.about{
  width: 65vw;
  margin: 2em 2.5vw;
  
  padding: 2em;
  border-radius: 2em;
  background-color: white;
  box-shadow: 0 0 1em rgb(215, 215, 215);
}

.about h1{
    padding-bottom: 0.5em;
}

.about-text p{
    padding-bottom: 2em;
    line-height: 1.5em;

    text-align: justify;
    text-justify: inter-word;
}

.about-text p:last-child{
  padding-bottom: 0;
}

@media (max-width: 640px) {
  .about-container{
    flex-direction: column;

    margin: 0 0 2em 0;
  }
  .about-container img{
    width: 100vw;
    height: 40vh;
    border-radius: 0 0 4em 4em;
  }
  .about{
    width: 90vw;
    margin: 2em 5vw;
  }
}