.calendar-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1em auto 2em auto;
}

.event{
    width: 50vw;
    margin: 1em 0;

    padding: 2em;
    border-radius: 2em;
    background-color: white;
    box-shadow: 0 0 1em rgb(215, 215, 215);
}

.event p{
    padding-top: 1em;
}

#descrizione{
    font-style: italic;
}

.years-dropdown-container{
    width: 50vw;
    margin: 4em auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#years-dropdown{
    width: 30vw;
    background-color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 1em;
    box-shadow: 0 0 1em rgb(215, 215, 215);
}

#years-dropdown:hover{
    cursor: pointer;
    box-shadow: 0 0 1em rgb(164, 164, 164);
}

@media (max-width: 640px) {
    .event{
        width: 80vw;
    }

    .years-dropdown-container{
        width: 80vw;
        margin-top: 4em;
        display: flex;
        flex-direction: column;
    }
    
    #years-dropdown{
        width: 80vw;
        margin-top: 2em;
    }
    
    #years-dropdown:hover{
        box-shadow: none;
    }
}